*{
    margin: 0;
    padding: 0;
}
/*  navbar  */
.nav-menu{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
transition: all .7s;
}

.menu-item{
font-size: 13px;
letter-spacing: 1px;
color:white;
transition: color .5s;
}

.menu-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;

    transition: width .3s;
}
.menu-item:hover::after {
    width: 100%;
    transition: width .3s;
}
.menu-item:hover{
    color:white!important;
}
.menu-item.active::after{
    width: 100%;
}
/*.menu-item:hover{
    border-bottom: 2px solid white;
    color: white;
}
.menu-item.active{
    border-bottom: 2px solid white;
    color: white;
}*/

.line1,.line2,.line3{
    width: 23px;
    height: 3px;
    margin:5px;
    transition: all .4s;
}
.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.custom-navbar{
    padding: 3px 30px !important;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
/*  end of navbar  */
/**     Banner      **/
#sectionHeader{
    width:100%;
    min-height:700px;
}
.wave{
    position: relative;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.wave::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height:218px;
    background: url(images/wave3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.banner-heading{
    animation-name: anim;
    animation-duration: 2s;
}
.banner-par{
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
.started-button{
    background:transparent;
    position: absolute;
    top: 50%;
    left:45%;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
.started-button:hover{
    color: #859398!important;
    transition: .8s;
}
@media(max-width:450px){
    .started-button{
        top: 57%;
        left:35%;
    }
    }
    @media(max-width:650px){
        .started-button{
            top: 55%;
            left:40%;
        }
        }
@keyframes anim{
    0% {
    transform: translateX(-100%);
    opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    }
    /*  end of Banner   */
    /*  Underline   */
    .underline-dark{
        width:60px;
        height: 3px;
        background:#343a40;
        margin: auto;
    }
    /*  end of underline   */
    /*  progress bar   */
.progress-bar{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-right-radius: 10px!important;
    border-bottom-right-radius:10px!important;
}
    /*  end of progress bar   */
    
    /*  Service section   */
.service-section{
    background: #EFF5F5;
    background-size: cover;
    padding:15px 0px;
}
.inner-width{
    width: 100%;
    max-width:1200px;
    margin:auto;
    padding:0 20px;
    overflow:hidden;
}
.section-title{
    text-align: center;
    color: #343a40;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.border-section{
    width: 60px;
    height: 3px;
    background: #343a40;
    margin: auto; 
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 20px;
}
.service-box{
    max-width:33.33%;
    padding: 10px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.service-icon{
    display: inline-block;
    width:70px;
    height:70px;
    border:3px solid #000000;
    color: #000000;
    transform:rotate(45deg);
    margin-bottom:30px;
    margin-top:16px;
    transition: 0.3s linear;
}
.service-icon i{
    line-height:70px;
    transform:rotate(-45deg);
    font-size: 26px;
}
.service-box:hover .service-icon{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.service-title{
    font-size:18px;
    text-transform:uppercase;
    margin-bottom:10px;
}
.service-desc{
    font-size: 14px;
}
@media screen and (max-width:960px){
    .service-box{
        max-width: 45%;
    }
}
@media screen and (max-width:768px){
    .service-box{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .service-box{
        max-width: 100%;
    }
}
    /* End of Service section   */
    /*      Gallery   */
.gallery-section{
    padding:60px 0px!important;
    }
.gallery-list-item{
    color: #777;
    cursor: pointer;
    user-select: none;
}
.active-item{
    color: #283048;
}
.mfp-close { 
	cursor: pointer!important; 
}

.mfp-bg, .mfp-container, .mfp-wrap{
    cursor: default !important;
}
.mfp-img {
    width: 900px !important;;
    height:700px !important;
}


/*      End of Gallery   */
/*      Team   */
.team-section{
    background: #EFF5F5;
    text-align: center;
    padding:25px 0;
}
.inner-width{
    max-width:1200px;
    margin: auto;
    padding:40px;
    color: #333;
    overflow: hidden;
}
.team-section h1{
    color:#343a40;
    font-size: 3.5rem;
    font-weight:300;
    text-transform:uppercase;
    display: inline-block;
    padding-bottom: 10px;
}
.pe{
    float:left;
    width:calc(100%/3);
    overflow: hidden;
    padding: 40px 0;
    transition:0.4s;
}
.pe:hover{
    background: #ddd;
}
.pe img{
width: 120px;
height: 120px;
}
.pe-name{
    margin:10px 0;
    text-transform:uppercase;
}
.pe-description{
    font-style: italic ;
    color:#283048;
}
.p-sm{
    margin-top:12px;
}
.p-sm a{
    margin:0 14px;
    display: inline-block;
    width: 30px;
    height:30px;
transition: 0.4s;
}
.p-sm a:hover{
transform: scale(1.3);
}
.p-sm a i{
    color: #859398;
    line-height: 30px;
}
@media screen and (max-width:600px){
    .pe{
        width:100%;
    }
}
/*      End of Team   */
/*      Contact Us      */
.contact-about h3{
    font-size: 36px;
    margin: 0 0 10px 0;
    padding:0;
    line-height: 1;
    font-weight:300;
    letter-spacing: 3px;
    color: #859398!important;
}
.contact-about p{
    font-size: 14px;
    line-height: 24px;
}
.social-links{
    padding-bottom: 20px;
    display: block;
}
.social-links a{
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color:#859398;
    line-height:1;
    padding:8px 0;
    margin-right:4px;
    border-radius:50%;
    text-align: center;
    width: 36px;
    height:36px;
    transition:0.3s;
    border:1px solid;
}
.social-links a:hover{
    background:#859398;
    color:#fff;
}
.cont-info p{
    padding:0 0 10px 42px;
    line-height: 28px;
    font-size:14px;
    margin-bottom:30px;
}
.cont-info i{
    font-size:32px;
    color:#859398;
    float: left;
    line-height: 1;
}
.input{
    background: transparent;
    border-color:transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition:all .2s;
}
.input:focus{
    background: transparent;
    border-color:#ccc!important;
    box-shadow: none!important;
    border-bottom:2px solid #283048!important;
}
.submit-button{
    background: #859398;
    color: #fff;
    transition:all .3s;
    border-top:10px!important;
}
.submit-button:hover{

    transform:translateY(-3px);
}
.label{
    color: #777;
    display: block;
    margin-top: -70px;
    margin-left:4px;
    font-size: 13px;
    transition: all .3s;
}
.label-1{
    color: #777;
    display: block;
    margin-top: -96px;
    margin-left:4px;
    font-size: 13px;
    transition: all .3s;
}
.input:placeholder-shown+.label ,.input:placeholder-shown+.label-1{
transform: translate(20px,20px);
opacity:0;
visibility: hidden;
}

#the-count {
    float: right;
    padding: 0.1rem 1px 2px 0;
    font-size: 0.875rem;
    margin-top:16px;
}
#message{
    padding-bottom: 30px;
}
@media(max-width:992px){
    .contact-form{
        width: 100%;
        margin: auto;
    }
    #textCenter{
        margin-right: auto;
        margin-left: auto;
    }
    .social-links{
        margin:33%;
        display: inline;
    }
    .cont-add{
        margin-top: 10px;
    }
}
/*  Footer      */
footer{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Back to top Button*/
.btt-button{
display:none;
position: fixed;
width:50px;
height:50px;
background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
bottom:40px;
right:50px;
text-decoration:none;
text-align:center;
line-height: 50px;
color: white;
font-size:20px;
}
.btt-button:hover{
    color:#859398;
}
html{
    scroll-behavior: smooth;
}